html {background-color:black}

a, h1, label {color: #808D01}

a:hover {opacity: 75;}

.logo{

    display: block;
    margin: 1rem auto;
    width: 450px;
    height: 150px;
    vertical-align: bottom;
    background-size: contain;
}

.error{
    font-size: 2rem;
    padding: 1rem;
    background-color: #80BD01;
    color: #FFF;
}

.table{width: 80%;}
.table td, table tb {padding: 1rem;}
.table tr:first-child{
    background-color: #292623;
    color: #808D01;
}

.table tr:nth-child(even) {background-color: #CCC;}
.table tr:nth-child(odd):not(:first-child){background-color: #DDDDDD;}

.button {
    padding: .5rem 1rem;
    color: #FFF;
    background-color: #80BD01;
    cursor: pointer;
}

.button:hover{opacity: .75;}
.add{background: #0B0;}
.edit {background: #0871B2;}
.delete {background: #D23641;}